.caja {
    width: 400px;
    height: 500px;
    padding: 30px;
    margin: 50px;
    border: 10px solid red;

}

h1 {
    border: 6px solid rgb(10, 31, 58);
    text-align: center;
    background-color: rgb(80, 255, 220);
    color: brown;
    margin: auto;



}

h2 {
    border-collapse: separate;
    color: rgb(222, 135, 160);
    text-align: center;
    color: brown;
    margin: auto;
    color:


}

.cuadro {
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 100px;
    border: 10px solid blue
}

h2 {
    display: grid;
    color: rgb(185, 176, 45);
    font-size: 50px;
}
.container{
    background-color: rgb(4, 147, 75);
    padding: 10px;
}
.item{
    border: 3px solid blanchedalmond;
    width: 40%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-item {
    background-color: rgb(147, 4, 4);
    padding: 100px;
} 